<br>

<div class="row">
	<div class="col-md-3">
		<div class="col-md">
			<div class="card text-center text-white  mb-4" id="status1">
			  	<div class="card-header">
			  		<h5 class="card-title">Purchase Summary</h5>
			  	</div>
			  	<div class="card-body">
			    	<h6 class="card-title">Draft : {{ total_requests }}</h6>
					<h6 class="card-title">Submitted : {{ total_requests }}</h6>
					<h6 class="card-title">Purchased : {{ total_requests }}</h6>
					<h6 class="card-title">On Delivery : {{ total_requests }}</h6>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col-md-3">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="status2">
			  	<div class="card-header">
			  		<h5 class="card-title">My Order</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title"></h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col-md-3">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="status1">
			  	<div class="card-header">
			  		<h5 class="card-title">Action status</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title"></h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col-md-3">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="status3">
			  	<div class="card-header">
			  		<h5 class="card-title">Top Up </h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title"></h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col-md-3">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="status1">
			  	<div class="card-header">
			  		<h5 class="card-title">Top Up </h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title"></h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col-md-3">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="status2">
			  	<div class="card-header">
			  		<h5 class="card-title">Status JP</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title"></h3>
			  	</div>
			</div>
		</div>
	</div>
		<div class="col-md-3">
			<div class="col-md">
				<div class="card text-center text-white  mb-3" id="status1">
					<div class="card-header">
						<h5 class="card-title">Status MY </h5>
					</div>
					<div class="card-body">
						<h3 class="card-title"></h3>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>