
<section id="actions" class="py-2">
    <div class="container">
        <div class="row">
                <button type="button" class="btn btn-primary mr-3">Draft
                    <span class="badge badge-light">9</span>
                    <span class="sr-only">unread messages</span>
                </button>
                <button type="button" class="btn btn-primary mr-3">Submitted
                    <span class="badge badge-light">9</span>
                    <span class="sr-only">unread messages</span>
                </button>
                <button type="button" class="btn btn-primary mr-3">Topup request
                    <span class="badge badge-light">9</span>
                    <span class="sr-only">unread messages</span>
                </button>
                <button type="button" class="btn btn-primary mr-3">Delivering
                    <span class="badge badge-light">9</span>
                    <span class="sr-only">unread messages</span>
                </button>
                <button type="button" class="btn btn-primary mr-3">Cart
                    <span class="badge badge-light">9</span>
                    <span class="sr-only">unread messages</span>
                </button>

        </div>
    </div>
</section>
